<?xml version="1.0"?>
<model>
  <name>wamv_caleuche</name>
  <version>1.0</version>
  <sdf version="1.6">wamv_caleuche.urdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>A custom URDF model converted from a xacro file.</description>
</model>
