<?xml version="1.0"?>
<model>
  <name>robotx_light_buoy</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Caleuche</name>
    <email>team@caleuche.local</email>
  </author>

  <description>
    White buoy with top beacon for RobotX Safe Passage simulation.
  </description>
</model>
