<?xml version="1.0"?>
<model>
  <name>Target Platform</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>Lucas_Z</name>
    <email>lucas.ziga@uc.cl</email>
  </author>
  
  <description>
    A static 2x2m landing platform with red, green, and blue 70cm target circles for autonomous drone landing.
  </description>
</model>
